{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-grid.css" %}'/>
<link rel="stylesheet" href='{% static "css/icons.css" %}'/>
<link rel="stylesheet" href='{% static "css/animate.min.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "css/responsive.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "css/chosen.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "css/colors/colors.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "css/custom.css" %}' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
