Django==2.0.3
-e git://github.com/maraujop/django-crispy-forms.git@dec71c73d5234a42dc74b7f90c26535d3a2b2875#egg=django_crispy_forms
django-mysql==2.2.0
mysqlclient==1.3.12
Pillow==5.0.0
pkg-resources==0.0.0
pytz==2018.3
uWSGI==2.0.17
